---
import { getLocale } from '@/messages';
import '@/assets/fonts/bootstrap-icons.min.css';
import '@/lib/styles/style.css';
import '@theme/styles/styles.css';

interface Props {
    title?: string;
}

const { title: defaultTitle } = Astro.props;
const title = defaultTitle ? `${defaultTitle} – Zonemaster` : `Zonemaster`;
---

<!doctype html>
<html lang={getLocale()} dir="ltr" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            type="image/png"
            href={`${import.meta.env.BASE_URL}favicon/excedo_favicon2.png`}
        />
        <link
            rel="apple-touch-icon"
            href={`${import.meta.env.BASE_URL}favicon/excedo_favicon2.png`}
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script>
            document.querySelector('html')!.classList.remove('no-js');
            document.querySelector('html')!.classList.add('js');
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>
